<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MilanovicMatej.Properties.Settings.ProjektConnectionString"
            connectionString="Data Source=DESKTOP-RB2K93V;Initial Catalog=Projekt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MilanovicMatej.Properties.Settings.ProjektConnectionString1"
            connectionString="Data Source=DESKTOP-E8MTTAK;Initial Catalog=Projekt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>